<center><div class="container">
<div class="card-transparent"
<div class="card border-0 shadow my-1">
  <div class="card-body p-1">
    <h1 class="font-weight-light">New Entry</h1>

<%= form_for @journal do |f| %>
  <strong>
  <%= f.label :date %>
  <%= f.text_field :date %> <br/>
  <%= f.label :content %>
  <%= f.text_area :content%><br/>
  </strong>
  <%= f.submit "Submit", class: 'btn btn-success' %>
<% end %>
</div>
   </div>
  </div>
</div>
</center>

