<!DOCTYPE html>
<html>
  <head>
    <title>Mindful</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if @current_user != nil %>
    <nav>
      <%= @current_user.username %> 

      <%= button_to "LOG OUT", logout_path, method: :delete %>
      </nav>
  <% end %>

  <%= yield %>
</body>



</html>
